DEPLOYMENT_URL=https://your-docusaurus-site.example.com
DEPLOYMENT_BRANCH=main
BASE_URL=/devscop-blog/
GITHUB_ORG=philippemoluh-byte
GITHUB_PROJECT=devscop-blog
BLOG_ENABLED=true
GIT_REPOSITORY_URL=https://github.com/philippemoluh-byte/devscop-blog
USE_SSH='true pnpm deploy'