.siteFooter {
    background: #242b31;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    color: #ffffff;
    position: relative;
}

.siteFooter :global(.contentContainer) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.toTopBtn {
    width: 40px;
    height: 90px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.toTopBtn::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 50px;
    background: #ffffff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.toTopBtn::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #ffffff;
    left: 50%;
    top: calc(50% - 29px);
    transform: translateX(-50%);
}

.toTopBtn:hover {
    background: rgba(255, 255, 255, 0.1);
}

.footerInfo {
    width: 145px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: center;
}

.footerCopy {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-quick);
    opacity: 0.8;
    margin: 0;
    line-height: 1.2;
}

.footerLegal {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-quick);
    color: #F8F5EC;
    margin: 0;
    line-height: 1.2;
}

.footerLegal:hover,
.footerLegal:focus,
.footerLegal:active {
    color: #ffffff;
    text-decoration: underline;
}

/* ===================== */
/* 📱 MIDDLE + MOBILE */
/* ===================== */
@media (max-width: 1024px) {
    .siteFooter {
        padding-top: 60px;
        padding-bottom: 55px;
    }

    .siteFooter :global(.contentContainer) {
        gap: 48px;
    }

    .toTopBtn {
        width: 40px;
        height: 73px;
        border-radius: 20px;
    }

    .toTopBtn::before {
        height: 45px;
    }

    .toTopBtn::after {
        top: calc(50% - 26px);
    }

    .footerCopy {
        font-size: 14px;
    }

    .footerLegal {
        font-size: 14px;
    }
}